.ads-wrapper {
  @extend .navigation;
  background-color: var(--color-ads-background);
  padding-top: 0.5rem;
  padding-right: 0.5rem;

  p {
    margin-left: 0.4rem; // The ads provider adds weird padding to their wrapper
    font-size: var(--font-xsmall);
    color: var(--color-ads-text);
  }

  .button--link {
    color: var(--color-ads-link);
  }
}

// Inline Video Ads
// The default is coded for list-layout;
// --tile and other modifiers adjust accordingly.
.ads__claim-item {
  border-bottom: 1px solid var(--color-border);
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  padding: var(--spacing-m);
  background-color: var(--color-ads-background);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  width: 100%;

  .ad__container {
    aspect-ratio: 16 / 9;
    $minWidth: calc(var(--file-list-thumbnail-width) * 0.8);
    min-width: $minWidth;

    video {
      width: 100% !important;
      height: 100% !important;
    }

    @media (max-width: $breakpoint-small) {
      $width: calc(var(--file-list-thumbnail-width) * 0.8);
      width: $width;
    }

    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
      $width: calc(var(--file-list-thumbnail-width) * 1.2);
      width: $width;
    }

    @media (min-width: $breakpoint-large) {
      $width: calc(var(--file-list-thumbnail-width) * 1.2);
      width: $width;
    }
  }
}

.ads__claim-item--tile {
  @extend .card;
  @extend .claim-preview--tile;
  flex-direction: column;

  padding: 0;
  background-color: unset;
  border-bottom: unset;

  .ads__claim-text {
    margin: var(--spacing-s) 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ad__container {
    width: 100%;
  }

  .ads__claim-text {
    max-width: 100%;
  }
}

.ads__claim-item--recommended {
  padding: var(--spacing-s);

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 0;
  }
}

.ads__claim-text {
  overflow: hidden;
  max-width: 50%;
  margin: var(--spacing-m) 0 var(--spacing-m) var(--spacing-s);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-text-subtitle);
}

.ads__claim-text--small {
  font-size: var(--font-small);

  @media (max-width: $breakpoint-small) {
    font-size: var(--font-xsmall);
  }
}

// Pre-roll ads
.ads__video-nudge,
.ads__video-notify {
  position: absolute;
  z-index: 3;
}

.ads__video-nudge {
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  padding: var(--spacing-xs);
}

.ads__video-notify {
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  background-color: black;
  border-bottom-left-radius: var(--border-radius);
  color: var(--color-white);
  font-size: var(--font-small);
  padding: var(--spacing-xs);
}

.ads__video-link.button--secondary {
  font-size: var(--font-small);
  padding: var(--spacing-xs);
  height: 1.5rem;
}

.ads__video-close {
  margin-left: var(--spacing-s);
  border-radius: var(--border-radius);

  .icon {
    stroke: var(--color-white);

    &:hover {
      stroke: var(--color-black);
      background-color: var(--color-white);
    }
  }
}

.exp-ui__logo {
  display: none;
}

// ****************************************************************************
// Outbrain
// ****************************************************************************

.ob-widget-items-container {
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
  border-radius: var(--border-radius);
}

// ****************************************************************************
// Banner
// ****************************************************************************

$BANNER_BORDER: 1px;

.banner-ad {
  padding: var(--spacing-l) 0 0 0;

  @media (min-width: $breakpoint-medium) {
    margin: auto;
    width: 100%;
    max-width: 768px;
  }
}

.banner-ad__container {
  background-color: var(--color-ads-background);
  border: $BANNER_BORDER solid var(--color-border);
  border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);

  padding: var(--spacing-xxs) var(--spacing-m);
  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-xxs) var(--spacing-xxs);
  }
}

.banner-ad__driver {
  display: none; // "= flex" when ads are fetched ('ob_holder' exists)
  flex-direction: row;
  align-items: center;

  border-left: $BANNER_BORDER solid var(--color-border);
  border-bottom: $BANNER_BORDER solid var(--color-border);
  border-right: $BANNER_BORDER solid var(--color-border);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  max-width: 95%;
  float: right;

  font-size: var(--font-xsmall);
  @media (max-width: $breakpoint-small) {
    font-size: var(--font-xxsmall);
  }

  > * {
    padding: 0 var(--spacing-xxxs);
  }
}

#ob_holder ~ .banner-ad__driver,
.banner-ad__container[data-ob-mark='true'] ~ .banner-ad__driver {
  display: flex;
}

.banner-ad__driver-label {
  color: var(--color-text-subtitle);
}

.banner-ad__driver-value {
  color: var(--color-text-subtitle);
  border-left: $BANNER_BORDER solid var(--color-border);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @supports (-webkit-line-clamp: 3) {
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  @media (max-width: $breakpoint-small) {
    line-height: 1.2;
    padding: calc(var(--spacing-xxxs) / 2) var(--spacing-xxxs);
  }
}
